*{

}
body{
    background-color: rgb(139, 148, 148);
}
header{
    text-align: center;
}
.logo{
    
}
.menu-div{
    display: flex;
    justify-content: center;
    padding-bottom: 31px;
}
nav{
    border-style: solid;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
a.menu{
    color: black;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    background-color: rgb(223, 223, 223);
    font-size: 25px;
    text-decoration: none;
    padding: 15px;
    margin: 5px;
}
a.menu:hover{
    background-color: rgb(92, 92, 92);
}
.product-article{
    display: flex;
    justify-content: center;
    border: solid 1px;
    background-color: rgb(129, 126, 122);
    border-radius: 15px;
    padding: 15px;
}
.selling-points{
    display: flex;
    flex-direction: column;
}
.sellingPoint{
    font-size: 25px;
    margin-top: auto;

}